public net.minecraft.nbt.NbtAccounter usage
public net.minecraft.client.gui.components.EditBox getMaxLength()I
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners
public net.minecraft.server.Services USERID_CACHE_FILE
public net.minecraft.world.entity.ai.attributes.AttributeMap attributes
#public net.minecraft.client.gui.components.Checkbox <init>(IIILnet/minecraft/network/chat/Component;Lnet/minecraft/client/gui/Font;ZLnet/minecraft/client/gui/components/Checkbox/OnValueChange;)V
public net.minecraft.client.gui.components.AbstractButton SPRITES
public net.minecraft.client.gui.screens.social.PlayerEntry DRAFT_REPORT_SPRITE